@use "../base/variables" as *;
.hero {
  background-color: $main-bg-color;
  position: relative;
  margin-bottom: 100px;
}

.hero_img-box {
  position: relative;
  max-width: 380px;
  max-height: 222px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.hero_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_list {
  margin: 25px 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero_list-item {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.rew_stars-icon {
  height: 10px;
}

.hero_item-icon {
  margin-right: 13px;
  width: 31px;
  height: 31px;
}

.reviews {
  position: absolute;
  width: 90vw;
  bottom: -28%;
  left: 20px;
  padding: 13px;
  background-color: $main-bg-color;
  border-radius: 8px;
  border: 1px solid #ededed;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.reviews_list {
  display: flex;
  margin-bottom: 12px;
}
