$main-text-color: #676869;
$secondary-text-color: #6C6C6C;
$grey-text-color: #565656;
$title-color: #01005B;
$main-bg-color: #ffffff;
$secondary-bg-color: #F0EEEF;
$beige-bg-color: #F9F0E5;
$line-color: #e8e6e6;


$main-text-font: 'Sofia Pro'; 
$secondary-text-font: 'Suisse Int\'l';
